@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Edu+NSW+ACT+Foundation:wght@500&family=Fira+Code&family=Lato:wght@300&family=Poppins:wght@600;700&display=swap');

.App {
  text-align: center;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, p {
  font-size: 1.2rem;
  font-family: 'Poppins', 'Lato', Arial, Helvetica, sans-serif;
  list-style: none;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
}

.inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media screen and (max-width:960px) {
  .inner-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
